html, body {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none!important;
}

a {
    color: #000;
}

li {
    list-style: none;
}

table > thead > tr > th, table > tbody > tr > td {
    text-align: center;
    vertical-align: middle!important;
}

form .form-control {
    width: 50%;
    display: inline-block;
}

.btn-white {
    color: inherit;
    background: #fff;
    border: 1px solid #e7eaec;
}

.img_upload .img_label {
    float: left;
    height: 34px;
    line-height: 34px;
}

.img_upload {
    display: inline-block;
}

.edui-editor-breadcrumb {
    text-align: left;
}

.grid_header th {
    min-width: 110px;
}

.view_header {
    width: 100px;
    text-align: center;
    vertical-align: middle!important;
}

.grid_cover img, .view_cover img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.view_content {
    text-align: left;
}
.view_content em {
    font-size: 12px;
    color: #666;
}

.form_ueditor {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.img_input {
    max-width:200px;
    max-height:200px;
    margin: 5px 0px;
}

pre code {
    color: #c7254e;
}

.wrap {
    min-height: 100%;
    height: auto;
}

body.mini-navbar .navbar-static-side {
    width: 70px;
}

body.mini-navbar #content {
    margin-left: 70px;
    width: calc(100% - 70px);
}

body.mini-navbar .logo-element {
    display: block;
}

body.mini-navbar .menu-label, body.mini-navbar .arrow, body.mini-navbar .menu-sub, body.mini-navbar .main-avatar, body.mini-navbar .profile {
    display: none;
}


.navbar-static-side {
    position: fixed;
    width: 220px;
    height: 100%;
    overflow: auto;
    background: #2f4050;
    transition: all 0.5s;
    border-right: 1px solid #fff;
}

.logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: none;
    padding: 18px 0;
}

.nav-header {
    text-align: center;
    padding: 20px;
}

.main-avatar img {
    width: 100px;
    height: 100px;
}

.profile a {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.nav-body {
    display: inline-block;
    width: 100%;
    z-index: 9999;
}

.nav-body>a {
    display: block;
    padding: 15px 15px 15px 25px;
    font-weight: 600;
    color: #2f4050;
}

.nav-body>a.active {
    color: #fff;
}

.menu-sub {
    padding: 7px 10px 7px 10px;
}

.menu-sub a {
    display: block;
    color: #2f4050;
    font-weight: 600;
    padding: 7px 15px 7px 57px;
}

.menu-sub a:hover {
    background-color: #293846;
}

.arrow {
    float: right;
    margin-top: 2px;
    font-size: 12px;
}

.fa.arrow:before {
    content: "\f104";
}










#content {
    margin-left: 220px;
    position: fixed;
    height: 100%;
    width: calc(100% - 220px);
    transition: all .5s;
}

.navbar-static-top {
    background-color: #f3f3f4;
    margin-bottom: 0px;
    border-bottom: 1px solid #fff;
}

.navbar-left a {
    color: #fff;
    margin: 10px;
}

.navbar-right {
    margin: 0px;
}

.navbar-right li {
    float: right;
}

.navbar-right a {
    padding: 14px;
    min-height: 50px;
    color: #2f4050;
    font-size: 16px;
    display: block;
}

.navbar-right a:hover {
    background-color: #eee;
}





#container {
    height: calc(100% - 91px);
    padding: 20px;
    overflow-y: auto;
}

.view_content a {
    color: #337ab7;
}

.kv-md-preview {
    overflow: auto;
}

.kv-md-header {
    margin-bottom: 10px;
}


.footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
}















html, body {
    color: #fff;
    background: none!important;
}

.wrap {
    background: url('../images/star.jpg') no-repeat 0 0;
    background-size: 100% 100%;
}

.buttons {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.buttons a {
    padding: 5px 15px;
}

.nav-body>a.active, .grid_header a {
    color: #fff;
}

.edui-editor {
    background: none!important;
}

table a.pjax, .del-pjax {
    border:1px solid #fff;
    padding: 2px 4px;
    border-radius: 3px;
}

.navbar-right a, .nav-body>a:hover, .menu-sub a:hover, .btn, table a.pjax, .del-pjax, .bg-n, .form-control, .form-control {
    color: #fff;
    background: none;
    border-color: #fff;
}

.kv-md-header .btn:hover, .navbar-right a:hover, a.btn:hover, button.btn:hover, table a.pjax:hover, .del-pjax:hover {
    color: #000;
    border-color: #000;
    background: none;
}

.kv-md-editor textarea {
    background: none;
}

option{
    color: #fff;
    background: #000;
    opacity: 0.5;
}

.action-column {
    width: 130px;
}

.help-block {
    color: #fff;
}

.edui-editor-toolbarboxinner {
    background-color: rgba(49, 17, 74, 0.50);
}

pre {
    background-color: rgba(49, 17, 74, 0.7);
}

.view_content em {
    color: #ccc;
}

.edui-box.edui-label.edui-default {
    color: #000;
}





#container::-webkit-scrollbar-track
{
    background-color: rgba(49, 17, 74, 0.50);
}

#container::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#container::-webkit-scrollbar-thumb
{
    background-color: rgba(49, 17, 74, 0.50);
    // background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}


.navbar-static-side::-webkit-scrollbar-track
{
    background-color: rgba(49, 17, 74, 0.50);
}

.navbar-static-side::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.navbar-static-side::-webkit-scrollbar-thumb
{
    background-color: rgba(49, 17, 74, 0.50);
}


































